#NET "A14"     LOC="P41"  | IOSTANDARD=LVTTL;                                # A14
#--NET "Audio"       LOC="P41"  | IOSTANDARD=LVTTL;    
#NET "clk" LOC="P89" | IOSTANDARD=LVCMOS25 | PERIOD=31.25ns;
NET "clk"   LOC = "B8"; # Bank = 0, Pin name = IP_L13P_0/GCLK8, Type = GCLK, Sch name = GCLK0

NET "A14" LOC = "L15"; # Bank = 1, Pin name = IO_L09N_1/A11, Type = DUAL, Sch name = JA1

